#the command below removes all the files in the gitignore from the repo
# git rm --cached `git ls-files -i --exclude-from=.gitignore`
# To make git forget all files previously tracked
# git rm -r --cached . && git add . && git commit -am "Remove ignored files"

# git ignore rules:
# https://www.atlassian.com/git/tutorials/saving-changes/gitignor
# https://jasonstitt.com/gitignore-whitelisting-patterns
# Ignore everything
*
# But descend into directories
!*/
# Un-ignore specific files under subtree
!data/**
!1.LLM-HSM-MODEL/**
!3.VegMap-ParFlow/**
!4.PARFLOW-MODEL/**
!6.CANOPYENERGYBALANCE-MODEL/**
!8.CROWN-SCORCH/**
!DOCS/**
# Do not ignore these files
!.gitignore
!**/*.py
!**/*.R
!**/*.yaml
!**/*.sh
!**/*.csh
!**/*.md
!**/*.yml
!**/*.cpp
!**/*.f
!**/*.ipynb
**/README
# Ignore these files
.DS_Store
__pycache__
.ipynb_checkpoints
*.o
*.dat 
*.mod 
*.png 
*.txt
*.out
*log
# Ignore these directories
**/2.Tree_code/
**/5.TREES-FIRETEC/
**/5.TREES-QUICFIRE/
**/7.FIRETEC-MODEL/
**/7.QUICFIRE-MODEL/mac_compile/
**/7.QUICFIRE-MODEL/source_code/
