#the command below removes all the files in the gitignore from the repo
# git rm --cached `git ls-files -i --exclude-from=.gitignore`
# To make git forget all files previously tracked
# git rm -r --cached . && git add . && git commit -am "Remove ignored files"

# To list files tracked under the current branch
# git ls-tree -r HEAD --name-only

# git ignore rules:
# https://www.atlassian.com/git/tutorials/saving-changes/gitignor
# https://jasonstitt.com/gitignore-whitelisting-patterns
# Ignore everything
*
# But descend into directories
!*/
# Un-ignore specific files under subtree
!1.LLM-HSM-MODEL/**
!1.LANDIS-MODEL/**
!3.VegMap-ParFlow/**
!4.PARFLOW-MODEL/**
!6.CANOPYENERGYBALANCE-MODEL/**
!8.CROWN-SCORCH/**
!9.FIA/**
!DOCS/**
!tools/**
# Do not ignore these files
!.gitignore
!README*
!DRM_framework_coupling.py
!config.yaml
!environment.yml
# Ignore these files
.DS_Store
__pycache__
.ipynb_checkpoints
*.o
*.dat 
*.mod 
*.png 
*.txt
*.out
*log
*.pyc
# Ignore these directories
1.LANDIS-MODEL/LANDIS_run/**
1.LANDIS-MODEL/FIA_proc/**
1.LANDIS-MODEL/FF_Fuel/**
1.LANDIS-MODEL/Shapefiles/**
2.Tree_code/**
5.TREES-FIRETEC/**
5.TREES-QUICFIRE/**
7.FIRETEC-MODEL/**
7.QUICFIRE-MODEL/**
7.QUICFIRE-MODEL/mac_compile/**
7.QUICFIRE-MODEL/source_code/**
9.FIA/RF_models/**
9.FIA/FIA_raw/**
elm_env/**
.Rproj.user
