# https://jasonstitt.com/gitignore-whitelisting-patterns
# Ignore everything
*
# But descend into directories
!*/
# Un-ignore specific files under subtree
!R/**
!code/**
!OutputExtract/*.R
## but not these files
!.gitignore
!*.py
!*.R
!*.yaml
!*.sh
!*.csh
!*.md
!*.yml
# Ignore these directories
**/BCI.ICLM45ED.badger.intel*/
**/data-raw/
**/results/
**/conda_env/
