# https://jasonstitt.com/gitignore-whitelisting-patterns
# Ignore everything
*
# But descend into directories
!*/
# Un-ignore specific files under subtree
!src/**
!OutputExtract/*.R
!tools/*.sh
!data/HPU.Table.csv
!params/*.nc
## but not these files
!.gitignore
!*.py
!*.R
!*.yaml
!**/*.sh
!*.csh
!*.md
!*.yml
# Ignore these directories
**/conda_env/
**/CASE_DIR/
params/clm_params_c180301.nc
params/fates_params_default_2pft.nc
